{
  "presets": ["next/babel"],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["styled-jsx/babel"]
    }
  }
}
