*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  font-family: 'Nunito Sans';
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: none;
}

*::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  background-color: var(--color-background-inverse);
  border-radius: 1rem;
}

html {
  font-size: 10px;
}

#app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto 60px;
  background-color: var(--color-background-soft);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  transition: 0.5s ease;
}

.main {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}

.list-aside {
  width: var(--width-panel);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2);
}

.list-main {
  width: calc(100% - var(--width-panel) - var(--gap));
}

@media (max-width: 768px) {
  .list-aside,
  .list-main {
    width: calc(100% - var(--gap));
  }
}

.select-element {
  padding: 0.5rem;
  cursor: pointer;
  border: 0.2rem solid var(--color-border-inverse-soft);
  border-radius: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: 0.5s ease;
}

.select-element,
.select-element:focus {
  outline: none;
}

.select-element:focus {
  border-color: var(--color-border-inverse);
}

.input-text {
  padding: 0.5rem;
  border: none;
  border-bottom: 0.2rem solid gray;
  background-color: var(--color-background);
  color: inherit;
}
