@import './styles/main.scss';
@import '~react-table/react-table.css';
@import '~react-datepicker/dist/react-datepicker.css';

body, html {
  margin: 0;
  padding: 0;
}

.ReactTable .rt-td {
  padding: 5px 5px;

  &.align-right {
    text-align: right;
  }
  button.btn-link {
    padding: 0.2rem 0.4rem;
    line-height: 1rem;
  }
  .td-selected {
    font-weight: bold;
    color: #333;
  }
  .cell-avatar {
    margin-right: 8px;
  }
}

.ReactTable .rt-th a {
  color: white;
}

.ReactTable .rt-expelled {
  color: #ccc;
  a {
    color: #ccc;
  }
}

.ReactTable .rt-thead.-filters input {
  padding: 3px;
}

.ReactTable .rt-th.rt-th-selected {
  font-weight: bold;
}

.select-avatar {
  margin-right: 8px;
  height: 32px;
  width: 32px;
}

.profile_container .spacer {
  flex: 1;
}

.profile_container .profile-action-edit {
  align-self: center;
}

.profile-avatar-action {
  display: flex;
}

.profile-course-name {
  color: #000;
}

.profile-task-table {
  thead {
    th {
      background-color: #f7f7f7;
    }
  }
}

.profile-interview-table {
  th {
    padding: 0;
    background-color: #f7f7f7;
  }
  td {
    padding: 0.2rem;
  }
}