.vscode
yarn-error.log
client/dist
client/node_modules
client/src/.next
node_modules/
server/.env
server/.env.aws
server/dist
server/dist
server/node_modules
serverless/**/node_modules
serverless/**/.serverless
serverless/**/.build