.loading-screen {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.loading-screen  {
    @keyframes bounce {
        0%, 100% {
            opacity: 1;
        }
        60% {
            transform: translateY(15px);
            opacity: .0;
        }
    }
    .circle {
        border-radius: 50%;
        background-color: #000;
        margin: 10px;
        height: 30px;
        width: 30px;
        animation: bounce 1.5s infinite ease;
    }
    .circle-2 {
        animation-delay: .2s;
    }
    .circle-3 {
        animation-delay: .3s;
    }
    .circle-4 {
        animation-delay: .4s;
    }
}


