version: '3'
services:
  bumblebee:
    container_name: bumblebee
    image: ghcr.io/rolling-scopes/rsschool-bot-bumblebee:master
    expose:
      - 7000
    environment:
      RS_BUMBLEBEE_TELEGRAM_TOKEN: ${RS_BUMBLEBEE_TELEGRAM_TOKEN}
      RS_BUMBLEBEE_TELEGRAM_ADMIN_CHANNEL_ID: ${RS_BUMBLEBEE_TELEGRAM_ADMIN_CHANNEL_ID}
      RS_BUMBLEBEE_TELEGRAM_CHANNEL_ID: ${RS_BUMBLEBEE_TELEGRAM_CHANNEL_ID}
      RS_BUMBLEBEE_DISCORD_TOKEN: ${RS_BUMBLEBEE_DISCORD_TOKEN}
      RS_BUMBLEBEE_DISCORD_CHANNEL_NAMES: ${RS_BUMBLEBEE_DISCORD_CHANNEL_NAMES}
      RS_BUMBLEBEE_LIMIT_INITIAL_MESSAGES_COUNT: ${RS_BUMBLEBEE_LIMIT_INITIAL_MESSAGES_COUNT}
      RS_BUMBLEBEE_PAUSE_BETWEEN_TELEGRAM_SENDS: ${RS_BUMBLEBEE_PAUSE_BETWEEN_TELEGRAM_SENDS}
    restart: on-failure
    volumes:
      - ./timestamp:/tmp/timestamp
