.linkUser,
.linkUserProfile {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5ch;
}

.linkUserProfile {
  color: inherit;
}

.linkUserAction {
  opacity: 0;
  margin: 0.1ch;
}

.linkUser:hover .linkUserAction {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
