.title {
  font-size: 12px;
  color: #eee;
  text-transform: uppercase;
}

.value {
  padding-bottom: 16px;
  font-weight: bold;
  word-break: break-all;
}

@media print {
  .title,
  .value {
    color: #000;
  }
}
