{
 "course_manager" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["courseId" :hash] 
  ["userId" :hash]
],
 "task_checker" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["courseTaskId" :hash] 
  ["studentId" :hash] 
  ["mentorId" :hash]
],
 "course_event" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["eventId" :hash] 
  ["courseId" :hash] 
  ["stageId" :hash] 
  ["date"] 
  ["time"] 
  ["place"] 
  ["coordinator"] 
  ["comment"] 
  ["organizerId" :hash] 
  ["detailsUrl"] 
  ["broadcastUrl"]
],

 "user" 
[
  ["id" :hash] 
  ["githubId" :obfuscate-github] 
  ["firstName" :obfuscate-first-name] 
  ["lastName" :obfuscate-last-name] 
  ["createdDate"] 
  ["updatedDate"] 
  ["firstNameNative"] 
  ["lastNameNative"] 
  ["tshirtSize"] 
  ["tshirtFashion"] 
  ["dateOfBirth"] 
  ["locationName"] 
  ["locationId"] 
  ["educationHistory" :empty-vec] 
  ["employmentHistory" :empty-vec] 
  ["contactsEpamEmail" :obfuscate-email] 
  ["contactsPhone" :obfuscate-phone] 
  ["contactsEmail" :obfuscate-email] 
  ["externalAccounts" :empty-vec] 
  ["epamApplicantId"] 
  ["activist"] 
  ["englishLevel"] 
  ["lastActivityTime"] 
  ["isActive"] 
  ["primaryEmail" :obfuscate-phone] 
  ["contactsTelegram" :obfuscate-github] 
  ["contactsSkype" :obfuscate-github] 
  ["contactsNotes"] 
  ["aboutMyself"]
],
 "event" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["name"] 
  ["descriptionUrl"] 
  ["description"] 
  ["type"]
],
 "certificate" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["publicId"] 
  ["studentId" :hash] 
  ["s3Bucket"] 
  ["s3Key"] 
  ["issueDate"]
],
 "task_result" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["githubPrUrl" :obfuscate-url] 
  ["githubRepoUrl" :obfuscate-url] 
  ["score"] 
  ["comment" :obfuscate-comment] 
  ["studentId" :hash] 
  ["courseTaskId" :hash] 
  ["historicalScores"] 
  ["juryScores"]
],
 "course_task" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["studentStartDate"] 
  ["studentEndDate"] 
  ["mentorStartDate"] 
  ["mentorEndDate"] 
  ["maxScore"] 
  ["taskId" :hash] 
  ["stageId" :hash] 
  ["scoreWeight"] 
  ["checker"] 
  ["taskOwnerId" :hash]
],
 "feedback" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["badgeId"] 
  ["fromUserId" :hash] 
  ["toUserId" :hash] 
  ["courseId" :hash] 
  ["comment" :obfuscate-comment] 
  ["heroesUrl" :obfuscate-url]
],
 "task_interview_result" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["courseTaskId" :hash] 
  ["studentId" :hash] 
  ["mentorId" :hash] 
  ["formAnswers"] 
  ["score"] 
  ["comment" :obfuscate-comment]
],
 "mentor" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["maxStudentsLimit"] 
  ["courseId" :hash] 
  ["userId" :hash]
],
 "registry" 
[
  ["id" :hash] 
  ["type"] 
  ["status"] 
  ["comment" :obfuscate-comment] 
  ["createdDate"] 
  ["updatedDate"] 
  ["userId" :hash] 
  ["courseId" :hash] 
  ["attributes"]
],
 "student" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["isExpelled"]
  ["expellingReason"] 
  ["courseCompleted"] 
  ["isTopPerformer"] 
  ["preferedMentorGithubId"] 
  ["readyFullTime"] 
  ["courseId" :hash] 
  ["userId" :hash] 
  ["mentorId" :hash] 
  ["stageId" :hash] 
  ["cvUrl" :obfuscate-url] 
  ["hiredById"] 
  ["hiredByName"] 
  ["isFailed"] 
  ["totalScore"] 
  ["startDate"] 
  ["endDate"]
],
 "task" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["name"] 
  ["descriptionUrl"] 
  ["description"] 
  ["verification"] 
  ["githubPrRequired"] 
  ["useJury"] 
  ["allowStudentArtefacts"] 
  ["githubRepoName"] 
  ["sourceGithubRepoUrl"] 
  ["type"] 
  ["tags"]
],
 "task_artefact" 
[
["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["courseTaskId" :hash] 
  ["studentId" :hash] 
  ["videoUrl" :obfuscate-url] 
  ["presentationUrl" :obfuscate-url] 
  ["comment" :obfuscate-comment]
],
 "task_verification" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["studentId" :hash] 
  ["courseTaskId" :hash] 
  ["details" :hash] 
  ["status"] 
  ["score"] 
  ["metadata"]
],
 "course" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["name"] 
  ["year"] 
  ["primarySkillId"] 
  ["primarySkillName"] 
  ["locationName"] 
  ["alias"] 
  ["completed"] 
  ["description"] 
  ["descriptionUrl"] 
  ["planned"] 
  ["startDate"] 
  ["endDate"] 
  ["fullName"] 
  ["registrationEndDate"]
],
 "private_feedback" 
[
  ["id" :hash] 
  ["comment" :obfuscate-comment] 
  ["createdDate"] 
  ["updatedDate"] 
  ["courseId" :hash] 
  ["fromUserId" :hash] 
  ["toUserId" :hash]
],
 "stage" 
[
  ["id" :hash] 
  ["createdDate"] 
  ["updatedDate"] 
  ["name"] 
  ["courseId" :hash] 
  ["status"] 
  ["startDate"] 
  ["endDate"]
]
}