.infoIcons {
  display: flex;
  justify-content: center;
}

.infoIcons > div {
  margin-right: 8px;
}

.iconCertificate :global(svg) {
  width: 16px;
  height: 16px;
}

.iconFlagUk {
  background-image: url(/static/images/united-kingdom.png);
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
}
