.icon {
  background-image: url('https://cdn.rs.school/sloths/cleaned/lazy.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 270px;
  height: 160px;
  margin: 10px auto;
}
