.iconGroup {
  background-image: url(/static/svg/sloths/students.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 270px;
  height: 160px;
  margin: 10px auto;
}

.waitListAlert {
  margin-bottom: 10px;
}
