.container {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px 10px;
}

.buttonClose {
  position: absolute;
  right: 10px;
  top: 0;
}

.buttonEdit {
  position: absolute;
  left: 10px;
  top: 0;
}
