.themeProvider {
}

:global(:root::-webkit-scrollbar-thumb),
:global(textarea::-webkit-scrollbar-thumb) {
  background: var(--scroll-color);
}

:global(.ant-table) :global(.ant-table-container) :global(.ant-table-body),
:global(.ant-table) :global(.ant-table-container) :global(.ant-table-content) {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color) transparent;
  scrollbar-gutter: stable;
}

:global(.ant-modal-content) {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color) transparent;
  scrollbar-gutter: stable;
}

:global(.ant-drawer-body) {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color) transparent;
  scrollbar-gutter: stable;
}
