.container {
  font-size: 14px;
  padding-bottom: 16px;
}

.header {
  color: #000;
  text-transform: uppercase;
  background-color: rgb(255, 236, 61);
  padding: 0 8px;
  font-weight: bold;
  display: inline-block;
}
