@import '_variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

html,
body,
#root {
  height: 100%;
}

.ant-layout-sider-dark h4 {
  color: rgba(255, 255, 255, 0.6);
  background: #07223b;
  white-space: nowrap;

  span {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    padding: 0 0 0 24px;
  }
}

.ant-layout-sider-collapsed h4 span {
  display: none;
}

.footer-dark.ant-layout-footer {
  background: #000;
  color: #fff;
  a, h4, h5 {
    color: #fff;
  }

  a:hover {
    color: #ccc;
  }

  .ant-list-bordered, li {
    border: 0;
  }

  .ant-list-item {
    padding-right: 0;
    font-size: .7rem;
  }
  .ant-btn {
    font-size: .7rem;
  }
}
