{"openapi":"3.0.0","paths":{"/api/v2/alerts":{"post":{"operationId":"createAlert","summary":"","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAlertDto"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertDto"}}}}},"tags":["alerts"]},"get":{"operationId":"getAlerts","summary":"","parameters":[{"name":"enabled","required":true,"in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlertDto"}}}}}},"tags":["alerts"]}},"/api/v2/alerts/{id}":{"delete":{"operationId":"deleteAlert","summary":"","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"number"}}],"responses":{"200":{"description":""}},"tags":["alerts"]},"patch":{"operationId":"updateAlert","summary":"","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"number"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAlertDto"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertDto"}}}}},"tags":["alerts"]}},"/api/v2/students/{studentId}/feedbacks":{"post":{"operationId":"createStudentFeedback","summary":"","parameters":[{"name":"studentId","required":true,"in":"path","schema":{"type":"number"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStudentFeedbackDto"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentFeedbackDto"}}}}},"tags":["students feedbacks"]}},"/api/v2/students/{studentId}/feedbacks/{id}":{"patch":{"operationId":"updateStudentFeedback","summary":"","parameters":[{"name":"studentId","required":true,"in":"path","schema":{"type":"number"}},{"name":"id","required":true,"in":"path","schema":{"type":"number"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateStudentFeedbackDto"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentFeedbackDto"}}}}},"tags":["students feedbacks"]},"get":{"operationId":"getStudentFeedback","summary":"","parameters":[{"name":"studentId","required":true,"in":"path","schema":{"type":"number"}},{"name":"id","required":true,"in":"path","schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentFeedbackDto"}}}}},"tags":["students feedbacks"]}},"/api/v2/courses":{"get":{"operationId":"getCourses","summary":"","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourseDto"}}}}}},"tags":["courses"]}},"/api/v2/courses/{aliasOrId}":{"get":{"operationId":"getCourse","summary":"","parameters":[{"name":"aliasOrId","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseDto"}}}}},"tags":["courses"]}},"/api/v2/students/{studentId}":{"get":{"operationId":"getStudent","summary":"","parameters":[{"name":"studentId","required":true,"in":"path","schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentDto"}}}},"400":{"description":""},"403":{"description":""}},"tags":["students"]}},"/api/v2/mentors/{mentorId}/students":{"get":{"operationId":"getMentorStudents","summary":"","parameters":[{"name":"mentorId","required":true,"in":"path","schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MentorStudentDto"}}}}},"400":{"description":""}},"tags":["mentors"]}},"/api/v2/auth/github/login":{"get":{"operationId":"githubLogin","summary":"","parameters":[],"responses":{"200":{"description":""}},"tags":["auth"]}},"/api/v2/auth/github/callback":{"get":{"operationId":"githubCallback","summary":"","parameters":[],"responses":{"200":{"description":""}},"tags":["auth"]}},"/api/v2/auth/github/logout":{"get":{"operationId":"githubLogout","summary":"","parameters":[],"responses":{"200":{"description":""}},"tags":["auth"]}},"/api/v2/profile/{username}/courses":{"get":{"operationId":"getUserCourses","summary":"","parameters":[{"name":"username","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProfileCourseDto"}}}}}},"tags":["profile"]}},"/api/v2/disciplines":{"post":{"operationId":"createDiscipline","summary":"","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDisciplineDto"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisciplineDto"}}}}},"tags":["disciplines"]},"get":{"operationId":"getDisciplines","summary":"","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DisciplineDto"}}}}}},"tags":["disciplines"]}},"/api/v2/disciplines/{id}":{"delete":{"operationId":"deleteDiscipline","summary":"","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"number"}}],"responses":{"200":{"description":""}},"tags":["disciplines"]},"patch":{"operationId":"updateDiscipline","summary":"","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"number"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDisciplineDto"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisciplineDto"}}}}},"tags":["disciplines"]}}},"info":{"title":"","description":"","version":"1.0.0","contact":{}},"tags":[],"servers":[{"url":"https://app.rs.school"}],"components":{"schemas":{"CreateAlertDto":{"type":"object","properties":{"type":{"type":"string"},"text":{"type":"string"},"enabled":{"type":"boolean"},"courseId":{"type":"number"}},"required":["type","text"]},"AlertDto":{"type":"object","properties":{"id":{"type":"number"},"type":{"type":"string"},"text":{"type":"string"},"enabled":{"type":"boolean"},"courseId":{"type":"number"},"updatedDate":{"type":"string"},"createdDate":{"type":"string"}},"required":["id","type","text","enabled","courseId","updatedDate","createdDate"]},"UpdateAlertDto":{"type":"object","properties":{}},"SoftSkillEntry":{"type":"object","properties":{"id":{"type":"string","enum":["skill.soft.responsible","skill.soft.team-player","skill.soft.communicable"]},"value":{"type":"string","enum":["None","Poor","Fair","Good","Great","Excellent"]}},"required":["id","value"]},"StudentFeedbackContentDto":{"type":"object","properties":{"impression":{"type":"string"},"gaps":{"type":"string"},"recommendationComment":{"type":"string"},"softSkills":{"type":"array","items":{"$ref":"#/components/schemas/SoftSkillEntry"}}},"required":["impression","gaps","recommendationComment","softSkills"]},"CreateStudentFeedbackDto":{"type":"object","properties":{"content":{"$ref":"#/components/schemas/StudentFeedbackContentDto"},"recommendation":{"type":"string","enum":["hire","not-hire"]},"englishLevel":{"type":"string","enum":["unknown","a1","a2","b1","b2","c1","c2"]}},"required":["content","recommendation","englishLevel"]},"PersonDto":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"number"}},"required":["name","id"]},"StudentFeedbackDto":{"type":"object","properties":{"id":{"type":"number"},"createdDate":{"type":"string"},"updatedDate":{"type":"string"},"content":{"$ref":"#/components/schemas/StudentFeedbackContentDto"},"recommendation":{"type":"string","enum":["hire","not-hire"]},"author":{"$ref":"#/components/schemas/PersonDto"},"mentor":{"$ref":"#/components/schemas/PersonDto"},"englishLevel":{"type":"string","enum":["unknown","a1","a2","b1","b2","c1","c2"]}},"required":["id","createdDate","updatedDate","content","recommendation","author","mentor","englishLevel"]},"UpdateStudentFeedbackDto":{"type":"object","properties":{"content":{"$ref":"#/components/schemas/StudentFeedbackContentDto"},"recommendation":{"type":"string","enum":["hire","not-hire"]},"englishLevel":{"type":"string","enum":["unknown","a1","a2","b1","b2","c1","c2"]}},"required":["content","recommendation","englishLevel"]},"CourseDto":{"type":"object","properties":{"id":{"type":"number"},"createdDate":{"type":"string"},"updatedDate":{"type":"string"},"name":{"type":"string"},"fullName":{"type":"string"},"alias":{"type":"string"},"description":{"type":"string"},"descriptionUrl":{"type":"string"},"year":{"type":"number"},"startDate":{"type":"string"},"endDate":{"type":"string"},"registrationEndDate":{"type":"string"},"primarySkillId":{"type":"string"},"primarySkillName":{"type":"string"},"locationName":{"type":"string"},"discordServerId":{"type":"number"},"completed":{"type":"boolean"},"planned":{"type":"boolean"},"inviteOnly":{"type":"boolean"},"certificateIssuer":{"type":"string"},"usePrivateRepositories":{"type":"boolean"}},"required":["id","createdDate","updatedDate","name","fullName","alias","description","descriptionUrl","year","startDate","endDate","registrationEndDate","primarySkillId","primarySkillName","locationName","discordServerId","completed","planned","inviteOnly","certificateIssuer","usePrivateRepositories"]},"StudentDto":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"number"},"active":{"type":"boolean"},"cityName":{"type":"string"},"countryName":{"type":"string"},"githubId":{"type":"string"},"totalScore":{"type":"number"},"rank":{"type":"number"}},"required":["name","id","active","cityName","countryName","githubId","totalScore","rank"]},"StudentFeedback":{"type":"object","properties":{"id":{"type":"number"}},"required":["id"]},"MentorStudentDto":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"number"},"active":{"type":"boolean"},"cityName":{"type":"string"},"countryName":{"type":"string"},"githubId":{"type":"string"},"totalScore":{"type":"number"},"rank":{"type":"number"},"feedbacks":{"type":"array","items":{"$ref":"#/components/schemas/StudentFeedback"}}},"required":["name","id","active","cityName","countryName","githubId","totalScore","rank","feedbacks"]},"ProfileCourseDto":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"alias":{"type":"string"}},"required":["id","name","alias"]},"CreateDisciplineDto":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"DisciplineDto":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"number"},"createdDate":{"type":"string"},"updatedDate":{"type":"string"}},"required":["name","id","createdDate","updatedDate"]},"UpdateDisciplineDto":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]}}}}