{
  "openapi": "3.0.0",
  "paths": {
    "/profile/{username}/endorsement-data": {
      "get": {
        "operationId": "getEndorsementData",
        "summary": "",
        "parameters": [{ "name": "username", "required": true, "in": "path", "schema": { "type": "string" } }],
        "responses": {
          "default": {
            "description": "",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EndorsementDataDto" } } }
          }
        },
        "tags": ["profile"]
      }
    }
  },
  "info": { "title": "", "description": "", "version": "1.0.0", "contact": {} },
  "tags": [],
  "servers": [{ "url": "https://app.rs.school/api/v2" }],
  "components": {
    "schemas": {
      "ActivityDto": {
        "type": "object",
        "properties": { "lastActivityTime": { "type": "number" }, "isActive": { "type": "boolean" } },
        "required": ["lastActivityTime", "isActive"]
      },
      "CreateActivityDto": {
        "type": "object",
        "properties": { "isActive": { "type": "boolean" } },
        "required": ["isActive"]
      },
      "SenderLoginDto": {
        "type": "object",
        "properties": { "githubId": { "type": "string" } },
        "required": ["githubId"]
      },
      "SenderDto": {
        "type": "object",
        "properties": { "login": { "$ref": "#/components/schemas/SenderLoginDto" } },
        "required": ["login"]
      },
      "CreateActivityWebhookDto": {
        "type": "object",
        "properties": { "sender": { "$ref": "#/components/schemas/SenderDto" } },
        "required": ["sender"]
      },
      "CreateAlertDto": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "text": { "type": "string" },
          "enabled": { "type": "boolean" },
          "courseId": { "type": "number" }
        },
        "required": ["type", "text"]
      },
      "AlertDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "type": { "type": "string" },
          "text": { "type": "string" },
          "enabled": { "type": "boolean" },
          "courseId": { "type": "number", "nullable": true },
          "updatedDate": { "type": "string" },
          "createdDate": { "type": "string" }
        },
        "required": ["id", "type", "text", "enabled", "courseId", "updatedDate", "createdDate"]
      },
      "UpdateAlertDto": { "type": "object", "properties": {} },
      "SoftSkillEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "enum": ["skill.soft.responsible", "skill.soft.team-player", "skill.soft.communicable"]
          },
          "value": { "type": "string", "enum": ["None", "Poor", "Fair", "Good", "Great", "Excellent"] }
        },
        "required": ["id", "value"]
      },
      "StudentFeedbackContentDto": {
        "type": "object",
        "properties": {
          "suggestions": { "type": "string" },
          "recommendationComment": { "type": "string" },
          "softSkills": { "type": "array", "items": { "$ref": "#/components/schemas/SoftSkillEntry" } }
        },
        "required": ["suggestions", "recommendationComment", "softSkills"]
      },
      "CreateStudentFeedbackDto": {
        "type": "object",
        "properties": {
          "content": { "$ref": "#/components/schemas/StudentFeedbackContentDto" },
          "recommendation": { "type": "string", "enum": ["hire", "not-hire"] },
          "englishLevel": { "type": "string", "enum": ["unknown", "a0", "a1", "a2", "b1", "b2", "c1", "c2"] }
        },
        "required": ["content", "recommendation", "englishLevel"]
      },
      "PersonDto": {
        "type": "object",
        "properties": { "name": { "type": "string" }, "githubId": { "type": "string" }, "id": { "type": "number" } },
        "required": ["name", "githubId", "id"]
      },
      "StudentFeedbackDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "createdDate": { "type": "string" },
          "updatedDate": { "type": "string" },
          "content": { "$ref": "#/components/schemas/StudentFeedbackContentDto" },
          "recommendation": { "type": "string", "enum": ["hire", "not-hire"] },
          "author": { "$ref": "#/components/schemas/PersonDto" },
          "mentor": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/PersonDto" }] },
          "englishLevel": { "type": "string", "enum": ["unknown", "a0", "a1", "a2", "b1", "b2", "c1", "c2"] }
        },
        "required": [
          "id",
          "createdDate",
          "updatedDate",
          "content",
          "recommendation",
          "author",
          "mentor",
          "englishLevel"
        ]
      },
      "UpdateStudentFeedbackDto": {
        "type": "object",
        "properties": {
          "content": { "$ref": "#/components/schemas/StudentFeedbackContentDto" },
          "recommendation": { "type": "string", "enum": ["hire", "not-hire"] },
          "englishLevel": { "type": "string", "enum": ["unknown", "a0", "a1", "a2", "b1", "b2", "c1", "c2"] }
        },
        "required": ["content", "recommendation", "englishLevel"]
      },
      "IdNameDto": {
        "type": "object",
        "properties": { "name": { "type": "string" }, "id": { "type": "number" } },
        "required": ["name", "id"]
      },
      "CourseDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "createdDate": { "type": "string" },
          "updatedDate": { "type": "string" },
          "name": { "type": "string" },
          "fullName": { "type": "string" },
          "alias": { "type": "string" },
          "description": { "type": "string" },
          "descriptionUrl": { "type": "string" },
          "year": { "type": "number" },
          "startDate": { "type": "string" },
          "endDate": { "type": "string" },
          "registrationEndDate": { "type": "string" },
          "primarySkillId": { "type": "string" },
          "primarySkillName": { "type": "string" },
          "locationName": { "type": "string" },
          "discordServerId": { "type": "number" },
          "completed": { "type": "boolean" },
          "planned": { "type": "boolean" },
          "inviteOnly": { "type": "boolean" },
          "certificateIssuer": { "type": "string" },
          "usePrivateRepositories": { "type": "boolean" },
          "personalMentoring": { "type": "boolean" },
          "logo": { "type": "string" },
          "discipline": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/IdNameDto" }] }
        },
        "required": [
          "id",
          "createdDate",
          "updatedDate",
          "name",
          "fullName",
          "alias",
          "description",
          "descriptionUrl",
          "year",
          "startDate",
          "endDate",
          "registrationEndDate",
          "primarySkillId",
          "primarySkillName",
          "locationName",
          "discordServerId",
          "completed",
          "planned",
          "inviteOnly",
          "certificateIssuer",
          "usePrivateRepositories",
          "personalMentoring",
          "logo",
          "discipline"
        ]
      },
      "MentorOptionsDto": {
        "type": "object",
        "properties": {
          "maxStudentsLimit": { "type": "number" },
          "preferedStudentsLocation": { "type": "string", "enum": ["any", "country", "city"] },
          "students": { "type": "array", "items": { "$ref": "#/components/schemas/StudentsDto" } }
        },
        "required": ["maxStudentsLimit", "preferedStudentsLocation", "students"]
      },
      "StudentFeedback": { "type": "object", "properties": { "id": { "type": "number" } }, "required": ["id"] },
      "MentorStudentDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "githubId": { "type": "string" },
          "id": { "type": "number" },
          "active": { "type": "boolean" },
          "cityName": { "type": "string", "nullable": true },
          "countryName": { "type": "string", "nullable": true },
          "totalScore": { "type": "number" },
          "rank": { "type": "number" },
          "feedbacks": { "type": "array", "items": { "$ref": "#/components/schemas/StudentFeedback" } },
          "repoUrl": { "type": "string", "nullable": true }
        },
        "required": [
          "name",
          "githubId",
          "id",
          "active",
          "cityName",
          "countryName",
          "totalScore",
          "rank",
          "feedbacks",
          "repoUrl"
        ]
      },
      "MentorDashboardDto": {
        "type": "object",
        "properties": {
          "studentGithubId": { "type": "string" },
          "studentName": { "type": "string" },
          "taskName": { "type": "string" },
          "taskDescriptionUrl": { "type": "string" },
          "courseTaskId": { "type": "number" },
          "maxScore": { "type": "number" },
          "resultScore": { "type": "number", "nullable": true },
          "solutionUrl": { "type": "string" },
          "status": { "type": "string" },
          "endDate": { "type": "string" }
        },
        "required": [
          "studentGithubId",
          "studentName",
          "taskName",
          "taskDescriptionUrl",
          "courseTaskId",
          "maxScore",
          "resultScore",
          "solutionUrl",
          "status",
          "endDate"
        ]
      },
      "Validations": {
        "type": "object",
        "properties": { "githubIdInUrl": { "type": "boolean" } },
        "required": ["githubIdInUrl"]
      },
      "AvailableStudentDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "name": { "type": "string" },
          "githubId": { "type": "string" },
          "cityName": { "type": "string", "nullable": true },
          "countryName": { "type": "string", "nullable": true },
          "isGoodCandidate": { "type": "boolean" },
          "rating": { "type": "string", "nullable": true },
          "totalScore": { "type": "number" },
          "registeredDate": { "type": "string" },
          "maxScore": { "type": "number" },
          "feedbackVersion": { "type": "number" }
        },
        "required": [
          "id",
          "name",
          "githubId",
          "cityName",
          "countryName",
          "isGoodCandidate",
          "rating",
          "totalScore",
          "registeredDate",
          "maxScore",
          "feedbackVersion"
        ]
      },
      "InterviewFeedbackDto": {
        "type": "object",
        "properties": {
          "version": { "type": "number" },
          "json": { "type": "object" },
          "isCompleted": { "type": "boolean" },
          "maxScore": { "type": "number" }
        },
        "required": ["isCompleted", "maxScore"]
      },
      "PutInterviewFeedbackDto": {
        "type": "object",
        "properties": {
          "version": { "type": "number" },
          "json": { "type": "object" },
          "decision": { "type": "string" },
          "isGoodCandidate": { "type": "boolean" },
          "isCompleted": { "type": "boolean" },
          "score": { "type": "number" }
        },
        "required": ["version", "json", "isCompleted"]
      },
      "CheckTasksDeadlineDto": {
        "type": "object",
        "properties": { "deadlineInHours": { "type": "number" } },
        "required": ["deadlineInHours"]
      },
      "CourseStatsDto": {
        "type": "object",
        "properties": { "studentsActiveCount": { "type": "number" }, "studentsTotalCount": { "type": "number" } },
        "required": ["studentsActiveCount", "studentsTotalCount"]
      },
      "CrossCheckCriteriaDataDto": {
        "type": "object",
        "properties": {
          "key": { "type": "string" },
          "max": { "type": "number" },
          "text": { "type": "string" },
          "type": { "type": "string", "enum": ["title", "subtask", "penalty"] },
          "point": { "type": "number" },
          "textComment": { "type": "string" }
        },
        "required": ["key", "text", "type"]
      },
      "HistoricalScoreDto": {
        "type": "object",
        "properties": {
          "comment": { "type": "string" },
          "dateTime": { "format": "date-time", "type": "string" },
          "criteria": { "type": "array", "items": { "$ref": "#/components/schemas/CrossCheckCriteriaDataDto" } }
        },
        "required": ["comment", "dateTime"]
      },
      "CrossCheckMessageAuthorDto": {
        "type": "object",
        "properties": { "githubId": { "type": "string" }, "id": { "type": "number" } },
        "required": ["githubId", "id"]
      },
      "CrossCheckMessageDto": {
        "type": "object",
        "properties": {
          "author": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/CrossCheckMessageAuthorDto" }] },
          "content": { "type": "string" },
          "timestamp": { "type": "string" },
          "isReviewerRead": { "type": "boolean" },
          "isStudentRead": { "type": "boolean" },
          "role": { "type": "string", "enum": ["reviewer", "student"] }
        },
        "required": ["author", "content", "timestamp", "isReviewerRead", "isStudentRead", "role"]
      },
      "CrossCheckPairDto": {
        "type": "object",
        "properties": {
          "student": { "$ref": "#/components/schemas/PersonDto" },
          "checker": { "$ref": "#/components/schemas/PersonDto" },
          "task": { "$ref": "#/components/schemas/IdNameDto" },
          "score": { "type": "number" },
          "id": { "type": "number" },
          "comment": { "type": "string" },
          "url": { "type": "string" },
          "reviewedDate": { "type": "string" },
          "submittedDate": { "type": "string" },
          "historicalScores": { "type": "array", "items": { "$ref": "#/components/schemas/HistoricalScoreDto" } },
          "messages": { "type": "array", "items": { "$ref": "#/components/schemas/CrossCheckMessageDto" } }
        },
        "required": [
          "student",
          "checker",
          "task",
          "score",
          "id",
          "comment",
          "url",
          "reviewedDate",
          "submittedDate",
          "historicalScores",
          "messages"
        ]
      },
      "PaginationDto": {
        "type": "object",
        "properties": {
          "pageSize": { "type": "number" },
          "current": { "type": "number" },
          "total": { "type": "number" },
          "totalPages": { "type": "number" }
        },
        "required": ["pageSize", "current", "total", "totalPages"]
      },
      "CrossCheckPairResponseDto": {
        "type": "object",
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/CrossCheckPairDto" } },
          "pagination": { "$ref": "#/components/schemas/PaginationDto" }
        },
        "required": ["items", "pagination"]
      },
      "AvailableReviewStatsDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "id": { "type": "number" },
          "checksCount": { "type": "number" },
          "completedChecksCount": { "type": "number" }
        },
        "required": ["name", "id", "checksCount", "completedChecksCount"]
      },
      "Discord": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "username": { "type": "string" },
          "discriminator": { "type": "string" }
        },
        "required": ["id", "username", "discriminator"]
      },
      "CrossCheckAuthorDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "name": { "type": "string" },
          "githubId": { "type": "string" },
          "discord": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/Discord" }] }
        },
        "required": ["id", "name", "githubId", "discord"]
      },
      "CrossCheckSolutionReviewDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "dateTime": { "type": "number" },
          "comment": { "type": "string" },
          "criteria": { "type": "array", "items": { "$ref": "#/components/schemas/CrossCheckCriteriaDataDto" } },
          "author": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/CrossCheckAuthorDto" }] },
          "score": { "type": "number" },
          "messages": { "type": "array", "items": { "$ref": "#/components/schemas/CrossCheckMessageDto" } }
        },
        "required": ["id", "dateTime", "comment", "author", "score", "messages"]
      },
      "CrossCheckFeedbackDto": {
        "type": "object",
        "properties": {
          "url": { "type": "string" },
          "reviews": { "type": "array", "items": { "$ref": "#/components/schemas/CrossCheckSolutionReviewDto" } }
        }
      },
      "MentorDto": {
        "type": "object",
        "properties": { "id": { "type": "number" }, "githubId": { "type": "string" }, "name": { "type": "string" } },
        "required": ["id", "githubId", "name"]
      },
      "TaskResultsDto": {
        "type": "object",
        "properties": { "courseTaskId": { "type": "number" }, "score": { "type": "number" } },
        "required": ["courseTaskId", "score"]
      },
      "ContactsDto": {
        "type": "object",
        "properties": {
          "phone": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true },
          "epamEmail": { "type": "string", "nullable": true },
          "skype": { "type": "string", "nullable": true },
          "whatsApp": { "type": "string", "nullable": true },
          "telegram": { "type": "string", "nullable": true },
          "notes": { "type": "string", "nullable": true },
          "linkedIn": { "type": "string", "nullable": true },
          "discord": { "type": "string", "nullable": true }
        }
      },
      "ScoreStudentDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "githubId": { "type": "string" },
          "id": { "type": "number" },
          "active": { "type": "boolean" },
          "cityName": { "type": "string", "nullable": true },
          "countryName": { "type": "string", "nullable": true },
          "totalScore": { "type": "number" },
          "rank": { "type": "number" },
          "mentor": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/MentorDto" }] },
          "totalScoreChangeDate": { "format": "date-time", "type": "string" },
          "crossCheckScore": { "type": "number" },
          "repositoryLastActivityDate": { "format": "date-time", "type": "string" },
          "taskResults": { "type": "array", "items": { "$ref": "#/components/schemas/TaskResultsDto" } },
          "isActive": { "type": "boolean" },
          "contacts": { "$ref": "#/components/schemas/ContactsDto" }
        },
        "required": [
          "name",
          "githubId",
          "id",
          "active",
          "cityName",
          "countryName",
          "totalScore",
          "rank",
          "mentor",
          "totalScoreChangeDate",
          "crossCheckScore",
          "repositoryLastActivityDate",
          "taskResults",
          "isActive",
          "contacts"
        ]
      },
      "PaginationMetaDto": {
        "type": "object",
        "properties": {
          "itemCount": { "type": "number" },
          "total": { "type": "number" },
          "current": { "type": "number" },
          "pageSize": { "type": "number" },
          "totalPages": { "type": "number" }
        },
        "required": ["itemCount", "total", "current", "pageSize", "totalPages"]
      },
      "ScoreDto": {
        "type": "object",
        "properties": {
          "content": { "type": "array", "items": { "$ref": "#/components/schemas/ScoreStudentDto" } },
          "pagination": { "$ref": "#/components/schemas/PaginationMetaDto" }
        },
        "required": ["content", "pagination"]
      },
      "SaveTaskSolutionDto": { "type": "object", "properties": { "url": { "type": "string" } }, "required": ["url"] },
      "TaskSolutionDto": {
        "type": "object",
        "properties": { "id": { "type": "number" }, "courseTaskId": { "type": "number" }, "url": { "type": "string" } },
        "required": ["id", "courseTaskId", "url"]
      },
      "SelfEducationQuestionSelectedAnswersDto": {
        "type": "object",
        "properties": {
          "answers": { "type": "array", "items": { "type": "string" } },
          "question": { "type": "string" },
          "multiple": { "type": "boolean" },
          "questionImage": { "type": "string" },
          "answersType": { "type": "string" },
          "selectedAnswers": { "type": "array", "items": { "type": "number" } }
        },
        "required": ["answers", "question", "multiple", "questionImage", "answersType", "selectedAnswers"]
      },
      "TaskVerificationAttemptDto": {
        "type": "object",
        "properties": {
          "createdDate": { "type": "number" },
          "courseTaskId": { "type": "number" },
          "score": { "type": "number" },
          "maxScore": { "type": "number" },
          "questions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/SelfEducationQuestionSelectedAnswersDto" }
          }
        },
        "required": ["createdDate", "courseTaskId", "score", "maxScore", "questions"]
      },
      "Object": { "type": "object", "properties": {} },
      "CreateTaskVerificationDto": { "type": "object", "properties": { "id": { "type": "number" } } },
      "CourseUserDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "courseId": { "type": "number" },
          "name": { "type": "string" },
          "githubId": { "type": "string" },
          "isManager": { "type": "boolean" },
          "isSupervisor": { "type": "boolean" },
          "isJuryActivist": { "type": "boolean" },
          "isDementor": { "type": "boolean" },
          "isActivist": { "type": "boolean" }
        },
        "required": [
          "id",
          "courseId",
          "name",
          "githubId",
          "isManager",
          "isSupervisor",
          "isJuryActivist",
          "isDementor",
          "isActivist"
        ]
      },
      "UpdateCourseUserDto": {
        "type": "object",
        "properties": {
          "isManager": { "type": "boolean" },
          "isSupervisor": { "type": "boolean" },
          "isDementor": { "type": "boolean" },
          "isActivist": { "type": "boolean" },
          "userId": { "type": "number" }
        },
        "required": ["isManager", "isSupervisor", "isDementor", "isActivist", "userId"]
      },
      "CourseRolesDto": {
        "type": "object",
        "properties": {
          "isManager": { "type": "boolean" },
          "isSupervisor": { "type": "boolean" },
          "isDementor": { "type": "boolean" },
          "isActivist": { "type": "boolean" }
        },
        "required": ["isManager", "isSupervisor", "isDementor", "isActivist"]
      },
      "StudentId": { "type": "object", "properties": { "id": { "type": "number" } }, "required": ["id"] },
      "MentorDetailsDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "name": { "type": "string" },
          "githubId": { "type": "string" },
          "isActive": { "type": "boolean" },
          "cityName": { "type": "string" },
          "countryName": { "type": "string" },
          "maxStudentsLimit": { "type": "number" },
          "students": { "type": "array", "items": { "$ref": "#/components/schemas/StudentId" } },
          "interviews": { "type": "object" },
          "screenings": { "type": "object" },
          "taskResultsStats": { "type": "object" },
          "studentsPreference": { "type": "string", "enum": ["any", "country", "city"] },
          "studentsCount": { "type": "number" },
          "contactsEpamEmail": { "type": "string" }
        },
        "required": [
          "id",
          "name",
          "githubId",
          "isActive",
          "cityName",
          "countryName",
          "maxStudentsLimit",
          "students",
          "studentsPreference",
          "contactsEpamEmail"
        ]
      },
      "SearchMentorDto": {
        "type": "object",
        "properties": { "id": { "type": "number" }, "githubId": { "type": "string" }, "name": { "type": "string" } },
        "required": ["id", "githubId", "name"]
      },
      "AuthConnectionDto": {
        "type": "object",
        "properties": { "channelId": { "type": "string" }, "externalId": { "type": "string" } },
        "required": ["channelId", "externalId"]
      },
      "ProfileCourseDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "createdDate": { "type": "string" },
          "updatedDate": { "type": "string" },
          "name": { "type": "string" },
          "fullName": { "type": "string" },
          "alias": { "type": "string" },
          "description": { "type": "string" },
          "descriptionUrl": { "type": "string" },
          "year": { "type": "number" },
          "startDate": { "type": "string" },
          "endDate": { "type": "string" },
          "registrationEndDate": { "type": "string" },
          "primarySkillId": { "type": "string" },
          "primarySkillName": { "type": "string" },
          "locationName": { "type": "string" },
          "discordServerId": { "type": "number" },
          "completed": { "type": "boolean" },
          "planned": { "type": "boolean" },
          "inviteOnly": { "type": "boolean" },
          "certificateIssuer": { "type": "string" },
          "usePrivateRepositories": { "type": "boolean" },
          "personalMentoring": { "type": "boolean" },
          "logo": { "type": "string" },
          "discipline": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/IdNameDto" }] }
        },
        "required": [
          "id",
          "createdDate",
          "updatedDate",
          "name",
          "fullName",
          "alias",
          "description",
          "descriptionUrl",
          "year",
          "startDate",
          "endDate",
          "registrationEndDate",
          "primarySkillId",
          "primarySkillName",
          "locationName",
          "discordServerId",
          "completed",
          "planned",
          "inviteOnly",
          "certificateIssuer",
          "usePrivateRepositories",
          "personalMentoring",
          "logo",
          "discipline"
        ]
      },
      "UpdateUserDto": {
        "type": "object",
        "properties": {
          "firstName": { "type": "string", "nullable": true },
          "lastName": { "type": "string", "nullable": true },
          "primaryEmail": { "type": "string", "nullable": true },
          "cityName": { "type": "string", "nullable": true },
          "countryName": { "type": "string", "nullable": true },
          "contactsNotes": { "type": "string", "nullable": true },
          "contactsPhone": { "type": "string", "nullable": true },
          "contactsEmail": { "type": "string", "nullable": true },
          "contactsEpamEmail": { "type": "string", "nullable": true },
          "contactsSkype": { "type": "string", "nullable": true },
          "contactsWhatsApp": { "type": "string", "nullable": true },
          "contactsTelegram": { "type": "string", "nullable": true },
          "contactsLinkedIn": { "type": "string", "nullable": true },
          "notes": { "type": "string", "nullable": true },
          "aboutMyself": { "type": "string", "nullable": true },
          "languages": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "EN",
                "ZH",
                "HI",
                "ES",
                "FR",
                "AR",
                "BN",
                "RU",
                "PT",
                "ID",
                "UR",
                "JA",
                "DE",
                "PA",
                "TE",
                "TR",
                "KO",
                "MR",
                "KY",
                "KK",
                "UZ",
                "KA",
                "PL",
                "LT",
                "LV",
                "BE",
                "UK"
              ]
            }
          }
        }
      },
      "Education": {
        "type": "object",
        "properties": {
          "university": { "type": "string" },
          "faculty": { "type": "string" },
          "graduationYear": { "type": "number" }
        },
        "required": ["university", "faculty", "graduationYear"]
      },
      "UpdateProfileInfoDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "githubId": { "type": "string" },
          "aboutMyself": { "type": "string", "nullable": true },
          "cityName": { "type": "string", "nullable": true },
          "countryName": { "type": "string", "nullable": true },
          "educationHistory": {
            "nullable": true,
            "type": "array",
            "items": { "$ref": "#/components/schemas/Education" }
          },
          "englishLevel": { "type": "string", "nullable": true },
          "languages": { "type": "array", "items": { "type": "string" } },
          "contactsPhone": { "type": "string", "nullable": true },
          "contactsEmail": { "type": "string", "nullable": true },
          "contactsEpamEmail": { "type": "string", "nullable": true },
          "contactsSkype": { "type": "string", "nullable": true },
          "contactsWhatsApp": { "type": "string", "nullable": true },
          "contactsTelegram": { "type": "string", "nullable": true },
          "contactsNotes": { "type": "string", "nullable": true },
          "contactsLinkedIn": { "type": "string", "nullable": true },
          "discord": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/Discord" }] }
        }
      },
      "ProfileDto": {
        "type": "object",
        "properties": { "publicCvUrl": { "type": "string", "nullable": true } },
        "required": ["publicCvUrl"]
      },
      "PersonalProfileDto": {
        "type": "object",
        "properties": {
          "userId": { "type": "number" },
          "githubId": { "type": "string" },
          "primaryEmail": { "type": "string", "nullable": true },
          "isActiveStudent": { "type": "boolean" }
        },
        "required": ["userId", "githubId", "primaryEmail", "isActiveStudent"]
      },
      "EndorsementDto": {
        "type": "object",
        "properties": { "summary": { "type": "string" }, "data": { "type": "object", "nullable": true } },
        "required": ["summary", "data"]
      },
      "EndorsementUserDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "githubId": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" }
        },
        "required": ["id", "githubId", "firstName", "lastName"]
      },
      "EndorsementDataDto": {
        "type": "object",
        "properties": {
          "user": { "$ref": "#/components/schemas/EndorsementUserDto" },
          "courses": {
            "description": "User's courses",
            "type": "array",
            "items": { "$ref": "#/components/schemas/CourseDto" }
          },
          "studentsCount": { "type": "number", "description": "Number of students" },
          "interviewsCount": { "type": "number", "description": "Number of interviews" }
        },
        "required": ["user", "courses", "studentsCount", "interviewsCount"]
      },
      "CreateDisciplineDto": { "type": "object", "properties": { "name": { "type": "string" } }, "required": ["name"] },
      "DisciplineDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "id": { "type": "number" },
          "createdDate": { "type": "string" },
          "updatedDate": { "type": "string" }
        },
        "required": ["name", "id", "createdDate", "updatedDate"]
      },
      "UpdateDisciplineDto": { "type": "object", "properties": { "name": { "type": "string" } }, "required": ["name"] },
      "ApproveMentorDto": {
        "type": "object",
        "properties": { "preselectedCourses": { "type": "array", "items": { "type": "string" } } },
        "required": ["preselectedCourses"]
      },
      "CommentMentorRegistryDto": {
        "type": "object",
        "properties": { "comment": { "type": "string", "nullable": true } },
        "required": ["comment"]
      },
      "MentorRegistryDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "githubId": { "type": "string" },
          "cityName": { "type": "string", "nullable": true },
          "preferedCourses": { "type": "array", "items": { "type": "number" } },
          "preselectedCourses": { "type": "array", "items": { "type": "number" } },
          "maxStudentsLimit": { "type": "number" },
          "preferedStudentsLocation": { "type": "string" },
          "name": { "type": "string" },
          "technicalMentoring": { "type": "array", "items": { "type": "string" } },
          "courses": { "type": "array", "items": { "type": "number" } },
          "sendDate": { "format": "date-time", "type": "string" },
          "receivedDate": { "format": "date-time", "type": "string" },
          "hasCertificate": { "type": "boolean" },
          "englishMentoring": { "type": "boolean" },
          "primaryEmail": { "type": "object" },
          "languagesMentoring": { "type": "array", "items": { "type": "string" } },
          "contactsEpamEmail": { "type": "string", "nullable": true },
          "comment": { "type": "string", "nullable": true }
        },
        "required": [
          "id",
          "githubId",
          "cityName",
          "preferedCourses",
          "preselectedCourses",
          "maxStudentsLimit",
          "preferedStudentsLocation",
          "name",
          "technicalMentoring",
          "courses",
          "sendDate",
          "receivedDate",
          "hasCertificate",
          "englishMentoring",
          "primaryEmail",
          "languagesMentoring",
          "contactsEpamEmail",
          "comment"
        ]
      },
      "SaveCertificateDto": {
        "type": "object",
        "properties": {
          "publicId": { "type": "string" },
          "studentId": { "type": "number" },
          "s3Bucket": { "type": "string" },
          "s3Key": { "type": "string" },
          "issueDate": { "type": "string" }
        },
        "required": ["publicId", "studentId", "s3Bucket", "s3Key", "issueDate"]
      },
      "CreateDiscordServerDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "gratitudeUrl": { "type": "string" },
          "mentorsChatUrl": { "type": "string" }
        },
        "required": ["name", "gratitudeUrl", "mentorsChatUrl"]
      },
      "DiscordServerDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "createdDate": { "type": "number" },
          "updatedDate": { "type": "number" },
          "name": { "type": "string" },
          "gratitudeUrl": { "type": "string" },
          "mentorsChatUrl": { "type": "string", "nullable": true }
        },
        "required": ["id", "createdDate", "updatedDate", "name", "gratitudeUrl", "mentorsChatUrl"]
      },
      "UpdateDiscordServerDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "gratitudeUrl": { "type": "string" },
          "mentorsChatUrl": { "type": "string" }
        },
        "required": ["name", "gratitudeUrl", "mentorsChatUrl"]
      },
      "ResumeCourseMentor": {
        "type": "object",
        "properties": { "name": { "type": "string" }, "githubId": { "type": "string" }, "id": { "type": "number" } },
        "required": ["name", "githubId", "id"]
      },
      "ResumeCourseDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "name": { "type": "string" },
          "fullName": { "type": "string" },
          "rank": { "type": "number" },
          "totalScore": { "type": "number" },
          "certificateId": { "type": "string", "nullable": true },
          "completed": { "type": "boolean" },
          "mentor": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/ResumeCourseMentor" }] },
          "locationName": { "type": "string" }
        },
        "required": [
          "id",
          "name",
          "fullName",
          "rank",
          "totalScore",
          "certificateId",
          "completed",
          "mentor",
          "locationName"
        ]
      },
      "GratitudeDto": {
        "type": "object",
        "properties": {
          "user": { "$ref": "#/components/schemas/PersonDto" },
          "id": { "type": "number" },
          "badgeId": {
            "type": "string",
            "enum": [
              "Congratulations",
              "Expert_help",
              "Great_speaker",
              "Good_job",
              "Helping_hand",
              "Hero",
              "Thank_you",
              "Outstanding_work",
              "Top_performer",
              "Job_Offer",
              "RS_activist",
              "Jury_Team"
            ]
          },
          "comment": { "type": "string" },
          "courseId": { "type": "number" },
          "date": { "type": "string" }
        },
        "required": ["user", "id", "badgeId", "comment", "courseId", "date"]
      },
      "FeedbackSoftSkill": {
        "type": "object",
        "properties": {
          "value": { "type": "string", "enum": ["None", "Poor", "Fair", "Good", "Great", "Excellent"] },
          "id": {
            "type": "string",
            "enum": ["skill.soft.responsible", "skill.soft.team-player", "skill.soft.communicable"]
          }
        },
        "required": ["value", "id"]
      },
      "FeedbackCourseDto": {
        "type": "object",
        "properties": { "name": { "type": "string" }, "id": { "type": "number" } },
        "required": ["name", "id"]
      },
      "FeedbackDto": {
        "type": "object",
        "properties": {
          "date": { "type": "string" },
          "recommendation": { "type": "string" },
          "englishLevel": { "type": "string" },
          "recommendationComment": { "type": "string" },
          "suggestions": { "type": "string" },
          "softSkills": { "type": "array", "items": { "$ref": "#/components/schemas/FeedbackSoftSkill" } },
          "mentor": { "$ref": "#/components/schemas/ResumeCourseMentor" },
          "course": { "$ref": "#/components/schemas/FeedbackCourseDto" }
        },
        "required": [
          "date",
          "recommendation",
          "englishLevel",
          "recommendationComment",
          "suggestions",
          "softSkills",
          "mentor",
          "course"
        ]
      },
      "ResumeDto": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string" },
          "avatarLink": { "type": "string", "nullable": true },
          "visibleCourses": { "type": "array", "items": { "type": "number" } },
          "courses": { "type": "array", "items": { "$ref": "#/components/schemas/ResumeCourseDto" } },
          "desiredPosition": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true },
          "englishLevel": {
            "type": "string",
            "enum": ["unknown", "a0", "a1", "a2", "b1", "b2", "c1", "c2"],
            "nullable": true
          },
          "expires": { "type": "number", "nullable": true },
          "gratitudes": { "type": "array", "items": { "$ref": "#/components/schemas/GratitudeDto" } },
          "feedbacks": { "type": "array", "items": { "$ref": "#/components/schemas/FeedbackDto" } },
          "fullTime": { "type": "boolean" },
          "githubUsername": { "type": "string", "nullable": true },
          "id": { "type": "number" },
          "linkedin": { "type": "string", "nullable": true },
          "locations": { "type": "string", "nullable": true },
          "militaryService": { "type": "string", "enum": ["served", "liable", "notLiable"], "nullable": true },
          "name": { "type": "string", "nullable": true },
          "notes": { "type": "string", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "selfIntroLink": { "type": "string", "nullable": true },
          "skype": { "type": "string", "nullable": true },
          "startFrom": { "type": "string", "nullable": true },
          "telegram": { "type": "string", "nullable": true },
          "website": { "type": "string", "nullable": true }
        },
        "required": [
          "uuid",
          "avatarLink",
          "visibleCourses",
          "courses",
          "desiredPosition",
          "email",
          "englishLevel",
          "expires",
          "gratitudes",
          "feedbacks",
          "fullTime",
          "githubUsername",
          "id",
          "linkedin",
          "locations",
          "militaryService",
          "name",
          "notes",
          "phone",
          "selfIntroLink",
          "skype",
          "startFrom",
          "telegram",
          "website"
        ]
      },
      "FormDataDto": {
        "type": "object",
        "properties": {
          "avatarLink": { "type": "string", "nullable": true },
          "visibleCourses": { "type": "array", "items": { "type": "number" } },
          "desiredPosition": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true },
          "englishLevel": {
            "type": "string",
            "enum": ["unknown", "a0", "a1", "a2", "b1", "b2", "c1", "c2"],
            "nullable": true
          },
          "fullTime": { "type": "boolean" },
          "githubUsername": { "type": "string", "nullable": true },
          "linkedin": { "type": "string", "nullable": true },
          "locations": { "type": "string", "nullable": true },
          "militaryService": { "type": "string", "enum": ["served", "liable", "notLiable"], "nullable": true },
          "name": { "type": "string", "nullable": true },
          "notes": { "type": "string", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "selfIntroLink": { "type": "string", "nullable": true },
          "skype": { "type": "string", "nullable": true },
          "startFrom": { "type": "string", "nullable": true },
          "telegram": { "type": "string", "nullable": true },
          "website": { "type": "string", "nullable": true }
        },
        "required": [
          "avatarLink",
          "visibleCourses",
          "desiredPosition",
          "email",
          "englishLevel",
          "fullTime",
          "githubUsername",
          "linkedin",
          "locations",
          "militaryService",
          "name",
          "notes",
          "phone",
          "selfIntroLink",
          "skype",
          "startFrom",
          "telegram",
          "website"
        ]
      },
      "Resume": { "type": "object", "properties": {} },
      "ConsentDto": { "type": "object", "properties": { "consent": { "type": "boolean" } }, "required": ["consent"] },
      "GiveConsentDto": {
        "type": "object",
        "properties": { "consent": { "type": "boolean" }, "expires": { "type": "number" } },
        "required": ["consent", "expires"]
      },
      "StatusDto": { "type": "object", "properties": { "expires": { "type": "number" } }, "required": ["expires"] },
      "VisibilityDto": {
        "type": "object",
        "properties": { "isHidden": { "type": "boolean" } },
        "required": ["isHidden"]
      },
      "ApplicantResumeDto": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string" },
          "avatarLink": { "type": "string", "nullable": true },
          "visibleCourses": { "type": "array", "items": { "type": "number" } },
          "desiredPosition": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true },
          "englishLevel": {
            "type": "string",
            "enum": ["unknown", "a0", "a1", "a2", "b1", "b2", "c1", "c2"],
            "nullable": true
          },
          "expires": { "type": "number", "nullable": true },
          "fullTime": { "type": "boolean" },
          "githubId": { "type": "string" },
          "id": { "type": "number" },
          "linkedin": { "type": "string", "nullable": true },
          "locations": { "type": "string", "nullable": true },
          "militaryService": { "type": "string", "enum": ["served", "liable", "notLiable"], "nullable": true },
          "name": { "type": "string", "nullable": true },
          "notes": { "type": "string", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "selfIntroLink": { "type": "string", "nullable": true },
          "skype": { "type": "string", "nullable": true },
          "startFrom": { "type": "string", "nullable": true },
          "telegram": { "type": "string", "nullable": true },
          "website": { "type": "string", "nullable": true }
        },
        "required": [
          "uuid",
          "avatarLink",
          "visibleCourses",
          "desiredPosition",
          "email",
          "englishLevel",
          "expires",
          "fullTime",
          "githubId",
          "id",
          "linkedin",
          "locations",
          "militaryService",
          "name",
          "notes",
          "phone",
          "selfIntroLink",
          "skype",
          "startFrom",
          "telegram",
          "website"
        ]
      },
      "CreateUserGroupDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "users": { "type": "array", "items": { "type": "number" } },
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["taskOwner", "manager", "supervisor", "student", "mentor", "dementor", "activist"]
            }
          }
        },
        "required": ["name", "users", "roles"]
      },
      "UserDto": {
        "type": "object",
        "properties": { "id": { "type": "number" }, "name": { "type": "string" }, "githubId": { "type": "string" } },
        "required": ["id", "name", "githubId"]
      },
      "UserGroupDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "name": { "type": "string" },
          "users": { "type": "array", "items": { "$ref": "#/components/schemas/UserDto" } },
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["taskOwner", "manager", "supervisor", "student", "mentor", "dementor", "activist"]
            }
          }
        },
        "required": ["id", "name", "users", "roles"]
      },
      "UpdateUserGroupDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "users": { "type": "array", "items": { "type": "number" } },
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["taskOwner", "manager", "supervisor", "student", "mentor", "dementor", "activist"]
            }
          }
        },
        "required": ["name", "users", "roles"]
      },
      "CheckScheduleChangesDto": {
        "type": "object",
        "properties": { "lastHours": { "type": "number" } },
        "required": ["lastHours"]
      },
      "CreateGratitudeDto": {
        "type": "object",
        "properties": {
          "userIds": { "type": "array", "items": { "type": "number" } },
          "courseId": { "type": "number" },
          "comment": { "type": "string" },
          "badgeId": { "type": "string" }
        },
        "required": ["userIds", "courseId", "comment", "badgeId"]
      },
      "CountryDto": {
        "type": "object",
        "properties": { "countryName": { "type": "string" } },
        "required": ["countryName"]
      },
      "EventDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "name": { "type": "string" },
          "descriptionUrl": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "type": {
            "type": "string",
            "enum": [
              "lecture_online",
              "lecture_offline",
              "lecture_mixed",
              "lecture_self_study",
              "warmup",
              "info",
              "workshop",
              "meetup",
              "cross_check_deadline",
              "webinar",
              "special"
            ]
          },
          "discipline": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/IdNameDto" }] }
        },
        "required": ["id", "name", "descriptionUrl", "description", "type", "discipline"]
      },
      "CreateEventDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "type": { "type": "string" },
          "disciplineId": { "type": "number" },
          "descriptionUrl": { "type": "string" },
          "description": { "type": "string" }
        },
        "required": ["name", "type", "disciplineId", "descriptionUrl", "description"]
      },
      "UpdateEventDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "type": { "type": "string" },
          "disciplineId": { "type": "number" },
          "descriptionUrl": { "type": "string" },
          "description": { "type": "string" }
        },
        "required": ["name", "type", "disciplineId", "descriptionUrl", "description"]
      },
      "CreateTaskDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "attributes": { "type": "object" },
          "descriptionUrl": { "type": "string" },
          "description": { "type": "string" },
          "githubRepoName": { "type": "string" },
          "sourceGithubRepoUrl": { "type": "string" },
          "disciplineId": { "type": "number" },
          "githubPrRequired": { "type": "boolean" },
          "type": { "type": "string" },
          "skills": { "type": "array", "items": { "type": "string" } },
          "tags": { "type": "array", "items": { "type": "string" } }
        },
        "required": [
          "name",
          "attributes",
          "descriptionUrl",
          "description",
          "githubRepoName",
          "sourceGithubRepoUrl",
          "disciplineId",
          "githubPrRequired",
          "type",
          "skills",
          "tags"
        ]
      },
      "UsedCourseDto": {
        "type": "object",
        "properties": { "name": { "type": "string" }, "isActive": { "type": "boolean" } },
        "required": ["name", "isActive"]
      },
      "TaskDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "jstask",
              "kotlintask",
              "objctask",
              "htmltask",
              "ipynb",
              "selfeducation",
              "codewars",
              "test",
              "codejam",
              "interview",
              "stage-interview",
              "cv:html",
              "cv:markdown"
            ]
          },
          "name": { "type": "string" },
          "id": { "type": "number" },
          "descriptionUrl": { "type": "string" },
          "description": { "type": "string" },
          "githubRepoName": { "type": "string" },
          "sourceGithubRepoUrl": { "type": "string" },
          "discipline": { "$ref": "#/components/schemas/IdNameDto" },
          "githubPrRequired": { "type": "boolean" },
          "createdDate": { "type": "string" },
          "updatedDate": { "type": "string" },
          "tags": { "type": "array", "items": { "type": "string" } },
          "skills": { "type": "array", "items": { "type": "string" } },
          "attributes": { "type": "object" },
          "courses": { "type": "array", "items": { "$ref": "#/components/schemas/UsedCourseDto" } }
        },
        "required": [
          "type",
          "name",
          "id",
          "descriptionUrl",
          "description",
          "githubRepoName",
          "sourceGithubRepoUrl",
          "discipline",
          "githubPrRequired",
          "createdDate",
          "updatedDate",
          "tags",
          "skills",
          "attributes",
          "courses"
        ]
      },
      "UpdateTaskDto": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "attributes": { "type": "object" },
          "descriptionUrl": { "type": "string" },
          "description": { "type": "string" },
          "githubRepoName": { "type": "string" },
          "sourceGithubRepoUrl": { "type": "string" },
          "disciplineId": { "type": "number" },
          "githubPrRequired": { "type": "boolean" },
          "type": { "type": "string" },
          "skills": { "type": "array", "items": { "type": "string" } },
          "tags": { "type": "array", "items": { "type": "string" } }
        },
        "required": [
          "name",
          "attributes",
          "descriptionUrl",
          "description",
          "githubRepoName",
          "sourceGithubRepoUrl",
          "disciplineId",
          "githubPrRequired",
          "type",
          "skills",
          "tags"
        ]
      },
      "CriteriaDto": {
        "type": "object",
        "properties": {
          "max": { "type": "number" },
          "type": { "type": "string", "enum": ["title", "subtask", "penalty"] },
          "text": { "type": "string" },
          "key": { "type": "string" },
          "index": { "type": "number" }
        },
        "required": ["type", "text", "key", "index"]
      },
      "TaskCriteriaDto": {
        "type": "object",
        "properties": { "criteria": { "type": "array", "items": { "$ref": "#/components/schemas/CriteriaDto" } } },
        "required": ["criteria"]
      },
      "CreatePromptDto": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "text": { "type": "string" },
          "temperature": { "type": "number" }
        },
        "required": ["type", "text", "temperature"]
      },
      "PromptDto": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "type": { "type": "string" },
          "text": { "type": "string" },
          "temperature": { "type": "number" }
        },
        "required": ["id", "type", "text", "temperature"]
      },
      "UpdatePromptDto": {
        "type": "object",
        "properties": {
          "temperature": { "type": "number" },
          "type": { "type": "string" },
          "text": { "type": "string" }
        },
        "required": ["temperature", "type", "text"]
      }
    }
  }
}
